<div class="row">
    <div class="col-md-2">
        <img src="{{ post.image }}">
    </div>
    <div class="col-md-4">
        <h4><a href="{{ path('jluct_blog_post',{'id':post.id}) }}">{{ post.title }}</a></h4>
    </div>
    <div class="col-md-2"><a role="button" class="btn btn-info btn-block"
                             href="{{ path('jluct_blog_admin_post_update',{'id':post.id}) }}">Update</a></div>

    <div class="col-md-2">
        <a role="button"
           class="btn btn-{% if post.public %}success{% else %}warning{% endif %} btn-block"
           href="{{ path('jluct_blog_admin_post_public',{'id':post.id}) }}">
            {% if post.public %}Public{% else %}No public{% endif %}
        </a>
    </div>

    <div class="col-md-2"><a role="button" class="btn btn-danger btn-block" href="#">Delete</a></div>
</div>